@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  width: 80%;
  margin: 0 auto;
}
header {
  font-weight: bold;
  text-transform: uppercase;
}

.input button {
  width: 230px;
  height: 40px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
  margin-right: 10px;
}
.input button:hover {
  cursor: pointer;
  background-color: lightblue;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}
.pontuacao {
  display: flex;
  justify-content: space-around;
}
.cartasLabel {
  font-weight: bold;
  font-size: 20px;
}
.cartas {
  display: flex;
  justify-content: space-around;
}

.cartaJogadorCaixa {
  background-color: lightgrey;
  border-radius: 5px;
  height: 100%;
  width: 230px;
  padding: 10px;
  text-align: start;
  font-size: 18px;
}
.cartaJogadorCaixa h3,
.cartaJogadorImg {
  text-align: center;
}
.cartaJogadorImg img {
  width: 70%;
}

.cartaMaquina {
  background-color: red;
  border-radius: 5px;
  height: 100%;
  width: 230px;
  color: white;
  padding: 10px;
  text-align: start;
  font-size: 18px;
}
.cartaMaquina span {
  margin: 0;
  font-size: 18px;
}
.cartaMaquina h3,
.cartaMaquinaImg {
  text-align: center;
}
.cartaMaquinaImg img {
  width: 70%;
}

.resultado {
  background-color: blue;
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
footer {
  margin: 20px 0;
  font-weight: bold;
}
footer a {
  text-decoration: none;
  color: black;
}
footer a:hover {
  text-decoration: underline;
}
@media (max-width: 420px) {
  .container h3 {
    font-size: 15px;
  }
  .cartasLabel {
    margin: 0;
  }
  .cartas {
    flex-direction: column;
    justify-content: space-around;
    height: 560px;
  }
  .cartaJogadorCaixa,
  .cartaMaquina {
    margin: 10px auto;
    height: auto;
  }
} ;
